@using ICusCRM.Web.Portal.Toolkits
@model List<ICusCRM.Application.SystemMgtServices.Dtos.FuncsItem>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>教培网 - 主页</title
    <meta name="keywords" content="后台管理">
    <meta name="description" content="教培网后台管理系统">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/Content/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/Content/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/index.css" rel="stylesheet" />


</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="~/Content/img/profile_small.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs"><strong class="font-bold">@UserIdentity.CurrentUser.RealName</strong></span>
                                    <span class="text-muted text-xs block">@UserIdentity.CurrentUser.ToString()<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li>
                                    <a class="J_menuItem" href="@Url.Action("UserInfo", "System")">个人中心</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("LoginOut", "Account")">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            Z
                        </div>
                    </li>

                    <!-- 左侧table按钮数据渲染区域 -->
                    <li>
                        <a href="javascript:void(0);" onclick="javascript: onIndex();" >
                            <i class="fa fa-home"></i>
                            <span class="nav-label">首页</span>
                        </a>
                    </li>

                    @foreach (var f in Model)
                    {
                        <li>
                            <a href="#">
                                <i class="fa @f.Icon"></i>
                                <span class="nav-label">@f.Name</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                @foreach (var c in f.SysFunc1)
                                {
                                    <li>
                                        <a class="J_menuItem" href="@Url.Action(c.ActionName,c.ControllerName,new{area=c.AreaName})" data-index="0">@c.Name</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    <!-- 左侧table按钮数据渲染区域 -->
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" style="min-height:40px;margin-bottom:0" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="hidden-xs">
                            <a id="signout" href="@Url.Action("LoginOut", "Account")" class="roll-nav  J_tabExit"><i class="fa  fa-sign-out"></i> 退出</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:void(0);" id="BaseIndex" class="active J_menuTab" data-id="index_v1.html">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight">
                    <i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">
                        关闭操作<span class="caret"></span>

                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive">
                            <a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll">
                            <a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther">
                            <a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="javascript:void(0);" id="refresh" class="roll-nav roll-right J_tabExit"><i class="fa  fa-refresh"></i> 刷新</a>
            </div>
            <!-- iframe区域 -->
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="@Url.Action("MainPanel"))" frameborder="0" data-id="index_v1.html" seamless></iframe>
            </div>
            <div class="footer">
                <div class="pull-right">
                    &copy;2017 <a href="http://www.zjzx.cn/" target="_blank">中教在线 版权所有</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<!-- 全局pathjs -->
<script type="text/javascript">
    document.write("<s" + "cript type='text/javascript' src='/Scripts/static/paths.js?" + Math.random() + "'></s" + "cript>");
</script>

<!-- 全局js -->
<script src="/Content/js/jquery.min.js?v=2.1.4"></script>
<script src="/Scripts/vue.js"></script>
<script src="/Content/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/Content/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/Content/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/Content/js/plugins/layer/layer.js"></script>
<script src="~/Content/js/plugins/pace/pace.min.js"></script>
<script src="~/Content/js/common.js"></script>
<script src="~/Content/js/contabs.js"></script>


<!-- 自定义js -->
<script src="/Scripts/situation.js"></script>

<script>
    function onIndex()
    {
        $("#BaseIndex").trigger("click");
    }
    // 刷新session
    function refreshSession() {
        $.ajax({
            url: '@Url.Action("RefreshSession","System")',
            global: false
        });
    }
    window.setInterval(refreshSession, (1000 * 60) * 5);

    //关闭当前页并跳转
    function ToPage(isclose, menuurl) {
        if (isclose) {
            $(".page-tabs-content .active >i").trigger("click");
        }
        $("#side-menu a").each(function () {
            if ($(this).attr("href") != "#" && $(this).attr("href") == menuurl) {
                $(this).trigger("click");
            }
        });
    }

</script>
